body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

@media (max-width: 600px) {
	.App > * {
		margin: 0.5rem;
	}
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App > * {
	border: 1px solid black;
	margin: 1rem;
}
